<div id="cpanel_post" class="form">
<%= simple_form_for(@post, 
  :url => (@post.id.blank? ? cpanel_posts_path : cpanel_post_path(@post)) ) do |f| %>

  <div class="inputs">
  <%= f.input :title %>
  <%= f.input :body %>
  </div>
  <div class="actions">
    <%= f.submit "提交", :class => "btn primary" %> 或者 <%= link_to '返回', cpanel_posts_path %>
  </div>
<% end %>
</div>