<%= content_for :sitemap do %>
<span class="current">列表</span>
<% end %>
<%= render 'base' %>
<div class="tools">
  <a href="<%= cpanel_posts_path %>" class="btn small">查看所有</a>
  <a href="<%= new_cpanel_post_path %>" class="btn small success">新建</a>
</div>

<div id="cpanel_posts">
  <%= grid(@posts, :show_filters => :always) do |g|
    g.column :column_name => '', :attribute_name => 'id', :no_filter => true
    g.column :column_name => 'title', :attribute_name => 'title'
    g.column :column_name => 'body', :attribute_name => 'body'
    g.column :column_name => '创建时间', :attribute_name => 'created_at'
    g.column :column_name => '操作' do |c|
      raw "#{link_to '修改', edit_cpanel_post_path(c.id)}
      #{link_to '删除', cpanel_post_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
    end
  end %>
</div>


