<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_serial.name %>
</p>

<p>
  <b>Type:</b>
  <%= @car_serial.type %>
</p>

<p>
  <b>Pic:</b>
  <%= @car_serial.pic %>
</p>

<p>
  <b>Firstyear:</b>
  <%= @car_serial.firstyear %>
</p>

<p>
  <b>Lastyear:</b>
  <%= @car_serial.lastyear %>
</p>

<p>
  <b>Url:</b>
  <%= @car_serial.url %>
</p>

<p>
  <b>Code:</b>
  <%= @car_serial.code %>
</p>

<p>
  <b>Baoyangzhouqi:</b>
  <%= @car_serial.baoyangzhouqi %>
</p>

<p>
  <b>Baoyangjiage:</b>
  <%= @car_serial.baoyangjiage %>
</p>

<p>
  <b>Baoyangurl:</b>
  <%= @car_serial.baoyangurl %>
</p>


<%= link_to 'Edit', edit_car_serial_path(@car_serial) %> |
<%= link_to 'Back', car_serials_path %>
