<p id="notice"><%= notice %></p>
<p>
  <b>title:</b>
  <%= @car.title %>
</p>
<p>
  <b>price:</b>
  <%= @car.price %>
</p>
<p>
  <b>url:</b>
  <%= @car.url %>
</p>

<table  class="table">
<% @car.parameters.each_with_index do |p, i|  %>
<tr><th><%= i %></th><th> <%= p.name %></th><td><%= p.value  %></td></tr>
<% end %>	
</table>


<%= link_to 'Back', cars_path %>
