<h1>采集任务</h1>

<table class="table table-bordered">
  <tr>
    <th style="width:35px">编号</th>
    <th>名称</th>
    <th>来源/地址</th>
    <th>关键字</th>
    <th>类型</th>

    <th>状态</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each_with_index do |site, i| %>
  <tr>
    <td><%= i+1  %></td>
    <td title="<%= site.note.truncate(100)  %>"><%= site.name %></td>
    <td><%= link_to  site.url, site.url %></td>
    <td><%= site.tags %></td>
    <td><%= site.category %></td>
    <td><%= site.status %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
